{% load static %}
<section class="section dark tiny">
			<div class="inner">
				<div class="container">
					<div class="tabpanel border section-tab" role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#search-cars" aria-controls="search-cars" role="tab" data-toggle="tab">Search Cars</a></li>
							<li role="presentation"><a href="#sell-car" aria-controls="sell-car" role="tab" data-toggle="tab">Sell Car</a></li>
						</ul> <!-- end .nav-tabs -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="search-cars">
								<form action="" method="post" class="banner-form">
									<div class="item">
										<div class="select-wrapper">
											<select class="selectpicker">
												<option>Select Brand</option>
												<option>Brand 1</option>
												<option>Brand 2</option>
											</select>

										</div> <!-- end .select-wrapper -->
									</div> <!-- end .item -->
									<div class="item">
										<div class="select-wrapper">
											<select class="selectpicker">
												<option>Select Model</option>
												<option>Model 1</option>
												<option>Model 2</option>
											</select>

										</div> <!-- end .select-wrapper -->
									</div> <!-- end .item -->
									<div class="item">
										<div class="select-wrapper">
											<select class="selectpicker">
												<option>Year of Model</option>
												<option>Year 1</option>
												<option>Year 2</option>
											</select>

										</div> <!-- end .select-wrapper -->
									</div> <!-- end .item -->
									<div class="item">
										<span class="price-slider-value">Price (Lt) <span id="price-min"></span> - <span id="price-max"></span></span>
										<div id="price-slider"></div>
									</div> <!-- end .item -->
									<div class="item">
										<button type="submit" class="button solid light-blue">Search</button>
									</div> <!-- end .item -->
								</form> <!-- end .banner-form -->
							</div> <!-- end .tab-panel -->
							<div role="tabpanel" class="tab-pane fade" id="sell-car">
								<form action="" method="post" class="banner-form">
									<div class="item">
										<input type="text" placeholder="Brand">
									</div> <!-- end .item -->
									<div class="item">
										<input type="text" placeholder="Model">
									</div> <!-- end .item -->
									<div class="item">
										<input type="text" placeholder="Year">
									</div> <!-- end .item -->
									<div class="item">
										<input type="text" placeholder="Price">
									</div> <!-- end .item -->
									<div class="item">
										<button type="submit" class="button solid light-blue">Submit</button>
									</div> <!-- end .item -->
								</form> <!-- end .banner-form -->
							</div> <!-- end .tab-panel -->
						</div> <!-- end .tab-content -->
					</div> <!-- end .tabpanel -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
</section> <!-- end .section -->

<section class="section white">
			<div class="inner">
				<h1 class="main-heading">Son Model</h1>
				<div id="featured-cars" class="owl-carousel featured-cars">
					{% for rs in lastproducts %}
                    <div class="item">
						<div class="featured-car">
							<div class="image">
								<a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt="car" style="height: 200px" class="img-responsive"> </a>
								<span class="sale-tag">Satılık</span>
							</div> <!-- end .image -->
							<div class="content">
								<div class="clearfix">
									<h5><a href="">{{ rs.title }}</a></h5>
									<span class="price">${{ rs.price }}</span>
								</div> <!-- end .clearfix -->
								<div class="line"></div>
								<p>{{ rs.description }}</p>
							</div> <!-- end .content -->
							<div class="details clearfix">
								<div class="seats"><i class="icon-car-seat"></i>5</div>
								<div class="fuel"><i class="icon-car-fuel"></i>{{ rs.yakit }}</div>
								<div class="type"><i class="icon-car-door"></i>{{ rs.govde }}</div>
							</div> <!-- end .details -->
						</div> <!-- end .featured-car -->
					</div> <!-- end .item -->
                    {% endfor %}
				</div> <!-- end .featured-cars -->

			</div> <!-- end .inner -->

</section> <!-- end .section -->

