{% load static %}
<footer class="footer">
			<div class="top">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<h5>Bize Ulaşın</h5>
							<div class="iconbox-left">
								<div class="icon"><i class="fa fa-map-marker"></i></div> <!-- end .icon -->
								<div class="content"><p>{{setting.address}} </p></div> <!-- end .content -->
							</div> <!-- end .iconbox-left -->
							<div class="iconbox-left">
								<div class="icon"><i class="fa fa-envelope"></i></div> <!-- end .icon -->
								<div class="content"><p>{{setting.email}} </p></div> <!-- end .content -->
							</div> <!-- end .iconbox-left -->
							<div class="iconbox-left">
								<div class="icon"><i class="fa fa-phone"></i></div> <!-- end .icon -->
								<div class="content"><p>{{setting.phone}} </p></div> <!-- end .content -->
							</div> <!-- end .iconbox-left -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<h5>Sosyal Medaya Biz</h5>
							<div class="featured-deals">
                                <div class="social-icons">
                                <a href="{{ setting.instagram }}"><i class="fa fa-instagram"></i>   keyoto.instagram</a><br>
                                <a href="{{ setting.facebook }}"><i class="fa fa-facebook"></i>   keyoto.facebook</a><br>
                                <a href="{{ setting.twitter }}"><i class="fa fa-twitter"></i>   keyoto.twitter</a>
                            </div> <!-- end .social-icons -->
                            </div>

						</div> <!-- end .col-sm-4 -->
                        <div class="col-sm-4">
                                <h5>İletişim </h5>
                            <p>Bizimle iletişime geçmek istiyorsanız hemen <a href="/iletisim">buraya</a>  tıklayabilirsiniz. En yakın zamanda size geri dönüş sağlayacağız. Sağlıcakla kalın.</p>


                        </div> <!-- end .col-sm-4 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .top -->
			<div class="bottom">
				<span class="copyright">Bu sitenin kodlanması ve tasarımı Hasan SEMİZ tarafından gerçekleşmiştir.2020</span>
			</div> <!-- end .bottom -->
		</footer> <!-- end .footer -->

		<!-- jQuery -->

		<!-- Bootstrap -->
		<script src="{%  static 'js/bootstrap.min.js' %}"></script>
		<!-- Inview -->
		<script src="{%  static 'js/jquery.inview.min.js' %}"></script>
		<!-- google maps -->
		<!-- Tweetie -->
		<script src="{%  static 'scripts/Tweetie/tweetie.min.js' %}"></script>
		<!-- FlexSlider -->
		<script src="{%  static 'scripts/FlexSlider/jquery.flexslider-min.js' %}"></script>
		<!-- Owl Carousel -->
		<script src="{%  static 'js/owl.carousel.min.js' %}"></script>
		<!-- Isotope -->
		<script src="{%  static 'js/isotope.pkgd.min.js' %}"></script>

		<script src="{%  static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<!-- noUiSlider -->
		<script src="{%  static 'js/jquery.nouislider.all.min.js' %}"></script>
		<!-- Scripts.js -->
		<script src="{%  static 'js/scripts.js' %}"></script>