{% load static %}
<footer class="footer">
			<div class="top">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<h5>Hakkımızda</h5>
							<p>1991 yılında kurulan KEY OTO; bugün geldiği noktada otomobil ithalatı ile Türkiye'nin en geniş lüks araç portföyüne sahip şirketi konumunda olmasının yanısıra operasyonel leasing ve gayrimenkul alanlarında hizmet veren bir şirketler topluluğuna dönüşmüştür.</p>
							<hr />
							<div class="iconbox-left">
								<div class="icon"><i class="fa fa-map-marker"></i></div> <!-- end .icon -->
								<div class="content"><p>YENİKÖY SHOWROOM Köybaşı Cd. No:94 Yeniköy / İstanbul </p></div> <!-- end .content -->
							</div> <!-- end .iconbox-left -->
							<div class="iconbox-left">
								<div class="icon"><i class="fa fa-envelope"></i></div> <!-- end .icon -->
								<div class="content"><p>info@keyoto.com</p></div> <!-- end .content -->
							</div> <!-- end .iconbox-left -->
							<div class="iconbox-left">
								<div class="icon"><i class="fa fa-phone"></i></div> <!-- end .icon -->
								<div class="content"><p>T:+90 212 223 44 44</p></div> <!-- end .content -->
							</div> <!-- end .iconbox-left -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<h5>Araçlar</h5>
							<div class="featured-deals">
								<a  class="clearfix">
									<h5>MERCEDES</h5>
									<span class="price">$375,000</span>
								</a>
								<p>GECE GÖRÜŞ KAMERASI 20, MAYBACH EXCLUSIVE WHEELS ISITMALI & SOĞUTMALI ÖN KOLTUKLAR, MASAJ FONKSİYONLU ÖN & ARKA KOLTUKLAR SITMALI & SOĞUTMALI ARKA KOLTUKLAR</p>
							</div> <!-- end .featured-deals -->
							<div class="featured-deals">
								<a class="clearfix">
									<h5>AUDİ</h5>
									<span class="price">$94,000</span>
								</a>
								<p> S LINE, AIRMATIC, HIZ SABİTLEYİCİ, SOFT CLOSE DOORS BANG&OLUFSEN SES SİSTEMİ, ISITMALI VE SOĞUTMALI ÖN KOLTUKLAR</p>
							</div> <!-- end .featured-deals -->
						</div> <!-- end .col-sm-4 -->
                        <div class="col-sm-4">
                                <h5>İletişim </h5>
                            <p>Bizimle iletişime geçmek istiyorsanız hemen <a href="/iletisim">buraya</a>  tıklayabilirsiniz. En yakın zamanda size geri dönüş sağlayacağız. Sağlıcakla kalın.</p>


                        </div> <!-- end .col-sm-4 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .top -->
			<div class="bottom">
				<span class="copyright">Copyright 2015. All Rights Reserved by Automan. Designed by Theme Designer.</span>
			</div> <!-- end .bottom -->
		</footer> <!-- end .footer -->

		<!-- jQuery -->

		<!-- Bootstrap -->
		<script src="{%  static 'js/bootstrap.min.js' %}"></script>
		<!-- Inview -->
		<script src="{%  static 'js/jquery.inview.min.js' %}"></script>
		<!-- google maps -->
		<!-- Tweetie -->
		<script src="{%  static 'scripts/Tweetie/tweetie.min.js' %}"></script>
		<!-- FlexSlider -->
		<script src="{%  static 'scripts/FlexSlider/jquery.flexslider-min.js' %}"></script>
		<!-- Owl Carousel -->
		<script src="{%  static 'js/owl.carousel.min.js' %}"></script>
		<!-- Isotope -->
		<script src="{%  static 'js/isotope.pkgd.min.js' %}"></script>

		<script src="{%  static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<!-- noUiSlider -->
		<script src="{%  static 'js/jquery.nouislider.all.min.js' %}"></script>
		<!-- Scripts.js -->
		<script src="{%  static 'js/scripts.js' %}"></script>