{% extends "homebase.html" %}
{% load mptt_tags %}
{% load static %}
{% block title %}{{  setting.company }}{% endblock %}
{% block keywords %}{{  setting.keywords }}{% endblock %}
{% block description %}{{  setting.description }}{% endblock %}

{% block head %}
    <link rel="icon" sizes="32x32"   type="image/png" href='{{ setting.icon.url }}' />

{% endblock %}


{% block content %}
  <div class="page-title" style="background-image: url({% static 'images/background01.jpg' %});">
			<div class="inner">
				<div class="container">
					<div class="title">HAKKIMIZDA</div> <!-- end .title -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->

<div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">ANASAYFA</a></li>
                <li class="active">HAKKIMIZDA</li>
            </ul>

         </div>
    </div>
		<section class="section white">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-7">
							<img src="{% static 'images/about.jpg' %}" alt="about" class="img-responsive">
						</div> <!-- end .col-sm-7 -->
						<div class="column-spacer"></div>
						<div class="col-sm-5">
                            {{ setting.aboutus | safe }}

							</div> <!-- end .col-sm-5 -->
					</div>
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</section> <!-- end .section -->

		<section class="section light">
			<div class="inner">
				<div class="container">
					<div id="team-slider" class="owl-carousel team-slider">
						<div class="item">
							<div class="team-member" style="background-image: url({% static 'images/001.jpeg' %});">
								<div class="about">
									<span class="name">KADİR EREN YARIM</span><span class="title">FİRMA SAHİBİ</span>
								</div> <!-- end .about -->
							</div> <!-- end .team-member -->
						</div> <!-- end .item -->
						<div class="item">
							<div class="team-member" style="background-image: url({% static 'images/002.jpeg'%});">
								<div class="about">
									<span class="name">HASAN SEMİZ</span><span class="title">MÜDÜR</span>
								</div> <!-- end .about -->
							</div> <!-- end .team-member -->
						</div> <!-- end .item -->
						<div class="item">
							<div class="team-member" style="background-image: url({% static 'images/003.jpeg'%});">
								<div class="about">
									<span class="name">AHMET ÖZ</span><span class="title">SATIŞ DANIŞMANI</span>

								</div> <!-- end .about -->
							</div> <!-- end .team-member -->
						</div> <!-- end .item -->
						<div class="item">
							<div class="team-member" style="background-image: url({% static 'images/004.jpeg'%});">
								<div class="about">
									<span class="name">MÜNİRE SOYDAŞ</span><span class="title">BASIN YAYIN MÜDÜRÜ</span>

								</div> <!-- end .about -->
							</div> <!-- end .team-member -->
						</div> <!-- end .item -->
						<div class="item">
							<div class="team-member" style="background-image: url({% static 'images/005.jpeg'%});">
								<div class="about">
									<span class="name">DİLARA DEMİROK</span><span class="title">HALKLA İLİŞKİLER MÜDÜRÜ</span>

								</div> <!-- end .about -->
							</div> <!-- end .team-member -->
						</div> <!-- end .item -->
					</div> <!-- end .team-slider -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</section> <!-- end .section -->
{% endblock %}