{% load static %}
<header class="header">
			<div class="container">
				<div class="navigation clearfix">
					<div class="logo"><a href="index.html"><img src="{% static 'images/logo.png'%}" alt="Automan" class="img-responsive"></a></div> <!-- end .logo -->
					<div class="login"><a href=""><i class="ion-ios-person"></i></a></div> <!-- end .login -->
					<div class="contact">
						<div class="line"></div>
						<a href="contact-us.html"><i class="fa fa-phone"></i></a>
					</div> <!-- end .contact -->
					<nav class="main-nav">
						<ul class="list-unstyled">
							<li class="active">
								<a href="index.html">ANASAYFA</a>
							</li>
							<li>
								<a href="add-car-details.html">ARABA EKLE</a>
								<ul>
									<li><a href="add-car-details.html">Add Car Details</a></li>
									<li><a href="choose-specification.html">Choose Specification</a></li>
									<li><a href="contact-details.html">Contact Details</a></li>
									<li><a href="photos-videos.html">Photos Videos</a></li>
									<li><a href="pay-publish.html">Pay Publish</a></li>
								</ul>
							</li>
							<li>
								<a href="listing-grid-view.html">ARABALAR</a>
								<ul>
									<li><a href="listing-grid-view.html">Listing Grid View</a></li>
									<li><a href="listing-list-view.html">Listing List View</a></li>
									<li><a href="details.html">Details 1</a></li>
									<li><a href="details-1.html">Details 2</a></li>
								</ul>
							</li>
							<li>
								<a href="/hakkimizda">HAKKIMIZDA</a>

							</li>
							<li>
								<a href="blog.html">BLOG</a>

							</li>
							<li>
								<a href="/referanslar">REFERANSLAR</a>

							<li><a href="/iletisim">İLETİŞİM</a></li>
						</ul>
					</nav> <!-- end .main-nav -->
					<a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
				</div> <!-- end .navigation -->
			</div> <!-- end .container -->
		</header> <!-- end .header -->
