{% load static %}
{% load mptt_tags %}


<header class="header">
			<div class="container">
				<div class="navigation clearfix">
					<div class="logo"><a href="index.html"><img src="{% static 'images/logo.png'%}" alt="Automan" class="img-responsive"></a></div> <!-- end .logo -->


					<nav class="main-nav">
						<ul class="list-unstyled">
							<li>
								<a href="/">ANASAYFA</a>
							</li>
                            <li>
                              {% block sidebar %}{% include "sidebar.html" %}{% endblock %}
                            </li>
                            <li>
								<a href="/hakkimizda">HAKKIMIZDA</a>

							</li>
							<li>
								<a href="/referanslar">REFERANSLAR</a>
                            </li>
                            <li><a href="/iletisim">İLETİŞİM</a></li>

                            <li>

                                    {% if user.id is not None %}
                                        <a href="/user/"><b style="color: #f0ad4e"><i class="ion-ios-person">   </i> {{ user.first_name }} {{ user.last_name }}</b></a>
                                        <ul>
                                            <li><a href="/">Hesabım</a></li>
                                            <li><a href="/">İstekler</a></li>
                                            <li><a href="/">Paylaşımlar</a></li>
                                            <li><a href="/logout/"><b>ÇIKIŞ</b></a></li>
                                        </ul>


                                    {% else %}
                                        <a href="/login/"><b style="color: #f0ad4e">GİRİŞ</b></a>
                                        <a href="/signup/"><b style="color: #f0ad4e">KAYIT OL</b></a>

                                    {% endif %}


                            </li>

						</ul>
					</nav> <!-- end .main-nav -->
					<a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
				</div> <!-- end .navigation -->
			</div> <!-- end .container -->
		</header> <!-- end .header -->
