{% load static %}
{% load mptt_tags %}
<header class="header">
			<div class="container">
				<div class="navigation clearfix">
					<div class="logo"><a href="index.html"><img src="{% static 'images/logo.png'%}" alt="Automan" class="img-responsive"></a></div> <!-- end .logo -->
					<div class="login"><a href=""><i class="ion-ios-person"></i></a></div> <!-- end .login -->
					<div class="contact">
						<div class="line"></div>
						<a href="contact-us.html"><i class="fa fa-phone"></i></a>
					</div> <!-- end .contact -->
					<nav class="main-nav">
						<ul class="list-unstyled">
							<li>
								<a href="/">ANASAYFA</a>
							</li>
							<li>
								<a href="add-car-details.html">ARABA EKLE</a>
								<ul>
									<li><a href="add-car-details.html">Add Car Details</a></li>
									<li><a href="choose-specification.html">Choose Specification</a></li>
									<li><a href="contact-details.html">Contact Details</a></li>
									<li><a href="photos-videos.html">Photos Videos</a></li>
									<li><a href="pay-publish.html">Pay Publish</a></li>
								</ul>
							</li>

                            <li>
                              <a>ARABALAR</a>
                              {% load mptt_tags %}
                              <ul class="list-unstyled">
                                {% recursetree category %}
                                   <li class="">
                                      <li><a class="dropdown dropright" {% if not node.is_leaf_node %}
                                         data-toggle="dropdown"
                                         aria-expanded="true" {% endif %}
                                         href="/category/{{ node.id }}/{{ node.slug }}"> {{ node.title }}</a>
                                         {% if not node.is_leaf_node %}

                                             <ul class="dropdown-menu pull-menu-right">
                                              <li>
                                                <a href="/category/{{ node.slug }}">{{ children }}</a>
                                              </li>
                                             </ul>
                                         {% endif %}
                                      </li>
                                   </li>
                                {% endrecursetree %}
                              </ul>
                            </li>
                            <li>
								<a href="/hakkimizda">HAKKIMIZDA</a>

							</li>
							<li>
								<a href="/referanslar">REFERANSLAR</a>
                            </li>
							<li><a href="/iletisim">İLETİŞİM</a></li>
						</ul>
					</nav> <!-- end .main-nav -->
					<a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
				</div> <!-- end .navigation -->
			</div> <!-- end .container -->
		</header> <!-- end .header -->
