{% extends "homebase.html" %}
{% load mptt_tags %}
{% load static %}
{% block title %}{{  product.title }}{% endblock %}
{% block keywords %}{{  product.keywords }}{% endblock %}
{% block description %}{{  product.description }}{% endblock %}

{% block head %}
    <link rel="icon" sizes="32x32"   type="image/png" href='{{ setting.icon.url }}' />

{% endblock %}


{% block content %}
  <div class="page-title" style="background-image: url({% static 'images/background01.jpg' %});">
			<div class="inner">
				<div class="container">
					<div class="title">{{  product.description }}</div> <!-- end .title -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
  </div> <!-- end .page-title -->
  <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">ANASAYFA</a></li>
                <li><a href="/category/{{ product.category_id }}/{{ product.category.slug }}">{{ product.category }}</a></li>
                <li class="active">{{ product.description }}</li>
            </ul>

         </div>
    </div>

   <section class="section white">
			<div class="inner">
				<div class="container">
					<div class="car-details">
						<div class="row">
							<div class="col-sm-8">
								<div class="clearfix">
									<div class="title">{{ product.description }}<span></span></div>
								</div>
								<div id="car-details-slider" class="image">
									{% for rs in images %}
                                    <div class="item"><img src="{{ rs.image.url }}" alt="alt" style="height: 500px" class="img-responsive"></div>
									{% endfor %}
								</div>
								<div class="tabpanel border" role="tabpanel">
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a href="#heading-tab4" aria-controls="heading-tab4" role="tab" data-toggle="tab">DETAY</a></li>
										<li role="presentation"><a href="#heading-tab5" aria-controls="heading-tab5" role="tab" data-toggle="tab">YORUMLAR</a></li>
									</ul> <!-- end .nav-tabs -->
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane fade in active" id="heading-tab4">
                                        {{ product.detail | safe }}
                                        </div> <!-- end .tab-panel -->
										<div role="tabpanel" class="tab-pane fade" id="heading-tab5">
                                        <div class="comments">

										<div class="comment clearfix">
											{% for rs in comments %}
											<div class="content">
												<p><a>{{ rs.user.first_name }} {{ rs.user.last_name }}, </a></p>
                                                <p><b>{{ rs.subject }}</b></p>
                                                <p>{{ rs.comment }}</p>
												<a class="reply">{{ rs.create_at }}</a>
											</div> <!-- end .content -->
											{% endfor %}
										</div> <!-- end .comment -->

									    </div> <!-- end .comments -->

                                        <div class="leave-reply">
										<h4>Yorum Ekle</h4>
										<form action="/product/addcomment/{{ product.id }}" method="post">
                                            {% csrf_token %}
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<input class="input"  type="text" name="subject" id="id_subject" placeholder="Konu" />
													</div> <!-- end .form-group -->
												</div> <!-- end .col-sm-6 -->
												<div class="col-sm-6">
													<div class="form-group">

													</div> <!-- end .form-group -->
												</div> <!-- end .col-sm-6 -->
											</div> <!-- end .row -->
											<div class="form-group">
												<textarea class="input" name="comment" id="id_comment" required placeholder="Mesajınız" ></textarea>
											</div> <!-- end .form-group -->
                                             {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{message.tags}}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {%endfor%}
                                            {% endif %}
                                            {% if user.id is not None %}
											<input type="submit" value="Gönder" class="button solid light-blue" />
                                             {% else %}
                                                Yorum eklemek için <a href="/login"> Üye Olunuz!</a>
                                            {% endif %}
										</form>
									    </div> <!-- end .leave-reply -->

                                        </div> <!-- end .tab-panel -->
									</div> <!-- end .tab-content -->
								</div> <!-- end .tabpanel -->
							</div> <!-- end .col-sm-8 -->
                            <div class="col-sm-4">
								<div class="price">${{ product.price }} <span>/ Satılık</span></div>
								<div class="main-car-details">
									<div class="item clearfix">
										<div class="option">Marka</div>
										<div class="option-content">{{ product.marka }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Model</div>
										<div class="option-content">{{ product.model }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Model Yılı</div>
										<div class="option-content">{{ product.modelyili }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Kilometre</div>
										<div class="option-content">{{ product.km }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Yakıt</div>
										<div class="option-content">{{ product.yakit }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Vites</div>
										<div class="option-content">{{ product.vites }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Gövde Tipi</div>
										<div class="option-content">{{ product.govde }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Dış Renk</div>
										<div class="option-content">{{ product.disrenk }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">İç Renk</div>
										<div class="option-content">{{ product.icrenk }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Döşeme</div>
										<div class="option-content">{{ product.doseme }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Kaplama</div>
										<div class="option-content">{{ product.kaplama }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Motor Hacmi</div>
										<div class="option-content">{{ product.motorhacmi }}</div>
									</div> <!-- end .item -->
									<div class="item clearfix">
										<div class="option">Motor Gücü</div>
										<div class="option-content">{{ product.motorgucu }}</div>
									</div> <!-- end .item -->
									</div> <!-- end .main-car-details -->
								</div> <!-- end .col-sm-4 -->
						</div> <!-- end .row -->
					</div> <!-- end .car-details -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
   </section> <!-- end .section -->



{% endblock %}