{% load static %}
<section class="section white">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="sidebar">
								<div class="widget">
									<form class="search-form">
										<input type="search" placeholder="search" />
										<button type="submit"><i class="fa fa-search"></i></button>
									</form>
								</div> <!-- end .widget -->
								<div class="widget">
									<h5 class="title">Categories</h5>
									<ul class="fa-ul list-unstyled">
										<li><i class="fa-li fa fa-caret-right"></i><a href="">New Car Launch</a></li>
										<li><i class="fa-li fa fa-caret-right"></i><a href="">Race Cars</a></li>
										<li><i class="fa-li fa fa-caret-right"></i><a href="">Vintage Cars</a></li>
										<li><i class="fa-li fa fa-caret-right"></i><a href="">Car Accessories</a></li>
										<li><i class="fa-li fa fa-caret-right"></i><a href="">Pre Owned Cars</a></li>
									</ul>
								</div> <!-- end .widget -->
								<div class="widget">
									<h5 class="title">Popular Posts</h5>
									<div class="popular-posts">
										<div class="post">
											<img src="images/pop-post.jpg" alt="alt text" class="img-responsive">
											<div class="content">
												<h6 class="title"><a href="">Pre Owned Cars at Best Price</a></h6>
												<span class="date">23rd March 2015</span>
											</div> <!-- end .content -->
										</div> <!-- end .post -->
										<div class="post">
											<img src="images/pop-post.jpg" alt="alt text" class="img-responsive">
											<div class="content">
												<h6 class="title"><a href="">Pre Owned Cars at Best Price</a></h6>
												<span class="date">23rd March 2015</span>
											</div> <!-- end .content -->
										</div> <!-- end .post -->
									</div> <!-- end .popular-posts -->
								</div> <!-- end .widget -->
								<div class="widget">
									<h5 class="title">Archive</h5>
									<div class="row">
										<div class="col-xs-6">
											<ul class="fa-ul list-unstyled">
												<li><i class="fa-li fa fa-caret-right"></i><a href="">Nov 2014</a></li>
												<li><i class="fa-li fa fa-caret-right"></i><a href="">Oct 2014</a></li>
												<li><i class="fa-li fa fa-caret-right"></i><a href="">Sep 2014</a></li>
											</ul>
										</div>
										<div class="col-xs-6">
											<ul class="fa-ul list-unstyled">
												<li><i class="fa-li fa fa-caret-right"></i><a href="">Aug 2014</a></li>
												<li><i class="fa-li fa fa-caret-right"></i><a href="">Jul 2014</a></li>
												<li><i class="fa-li fa fa-caret-right"></i><a href="">Jun 2014</a></li>
											</ul>
										</div>
									</div>
								</div> <!-- end .widget -->
								<div class="widget">
									<h5 class="title">Tags</h5>
									<ul class="fa-ul list-inline">
										<li><i class="fa-li fa fa-tag"></i><a href="">Cars</a></li>
										<li><i class="fa-li fa fa-tag"></i><a href="">Luxury Cars</a></li>
										<li><i class="fa-li fa fa-tag"></i><a href="">Ferrari</a></li>
										<li><i class="fa-li fa fa-tag"></i><a href="">Rent</a></li>
										<li><i class="fa-li fa fa-tag"></i><a href="">Sell</a></li>
									</ul>
								</div> <!-- end .widget -->
								<div class="widget">
									<div class="call-to-action sidebar-cta">
										<div class="image"><img src="images/cta2.jpg" alt="alt" class="img-responsive"></div>
										<div class="content">
											<h4>Sell your Car</h4>
											<p>Submit detail and sell it Nam liber tempor cum soluta nobis eleife option congue nihil…</p>
											<a href="add-car-details.html" class="button border white">Submit Car</a>
										</div> <!-- end .content -->
									</div> <!-- end .call-to-action -->
								</div> <!-- end .widget -->
							</div> <!-- end .sidebar -->
						</div> <!-- end .col-sm-3 -->
					</div>
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</section> <!-- end .section -->