{% load static %}
<div class="responsive-menu">
			<a href="" class="responsive-menu-close"><i class="ion-android-close"></i></a>
			<nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
		</div> <!-- end .responsive-menu -->
<div class="flexslider welcome">
			<div class="slides">

                {% for rs in sliderdata %}
                <div class="slide" style="background-image: url({{ rs.image.url }} );">
					<div class="inner">
						<div class="container">
							<div class="banner-wrapper">
								<div class="banner">
                                    <div class="before">{{ rs.title }}</div>
                                    {{ rs.description }}
								</div> <!-- end .banner -->
							</div> <!-- end .banner-wrapper -->
							<a href="/product/{{ rs.id }}/{{ rs.slug }}" class="button border white xsmall">Satın Al</a>
						</div> <!-- end .container -->
					</div> <!-- end .inner -->
				</div> <!-- end .slide -->
                {% endfor %}

			</div> <!-- end .slides -->
		</div> <!-- end .welcome -->