{% extends "homebase.html" %}
{% load static %}
{% block title %}{{  setting.company }}{% endblock %}
{% block keywords %}{{  setting.keywords }}{% endblock %}
{% block description %}{{  setting.description }}{% endblock %}

{% block head %}
    <link rel="icon" sizes="32x32"   type="image/png" href='{{ setting.icon.url }}' />

{% endblock %}


{% block content %}
  <div class="page-title" style="background-image: url({% static 'images/background01.jpg' %});">
			<div class="inner">
				<div class="container">
					<div class="title">ŞİFRE GÜNCELLEME</div> <!-- end .title -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->

<div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">ANASAYFA</a></li>
                <li class="active">PROFİL</li>
            </ul>

         </div>
    </div>
		<section class="section white">
			<div class="inner">
				<div class="container">
					<div class="row">

                        <div class="col-md-2">


                                {% include "user_panel.html" %}


						</div> <!-- end .col-sm-7 -->

						<div class="column-spacer"></div>

                        <div class="col-md-10">
                            <div class="billing-details">

                                <div class="car-details alt">

                                <div class="specifications clearfix">


                                    {% if messages %}
                                       {% for message in messages %}
                                          <div style="color: #d43f3a; font-size: medium" >
                                            {{ message |safe }}
                                          </div>
                                       {% endfor %}
                                    {% endif %}

                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if field.help_text %}
                                               <small style="color: black">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                  <p>{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                        {% endfor %}

                                         <button class="button solid yellow size1" type="submit">Değişikliği Kaydet</button>
                                    </form>

                                </div> <!-- end .specifications -->
                                </div>







                            </div> <!-- end .col-sm-5 -->

					</div>
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</section> <!-- end .section -->
{% endblock %}