<div class="widget">
    <h5 class="title">HESABIM</h5>
    <ul class="fa-ul list-unstyled">
        <li><i class="fa-li fa fa-caret-right"></i><a href="/user">Kullanıcı Profili</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="">Paylaşımlarım</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="">Favoriler</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="">Ürünlerim</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="/logout">Çıkış</a></li>

    </ul>
</div> <!-- end .widget -->