<div class="widget">
    <h5 class="title">HESABIM</h5>
    <ul class="fa-ul list-unstyled">
        <li><i class="fa-li fa fa-caret-right"></i><a href="/user">Kullanıcı Profili</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="/user/comments">Yorumlar</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="/user/content">İlanlar</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="/user/addcontent">İlan Ver</a></li>
        <li><i class="fa-li fa fa-caret-right"></i><a href="/logout">Çıkış</a></li>

    </ul>
</div> <!-- end .widget -->